.single-cart {
  max-width: 350px;
  margin: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 13px;
}
.single-cart > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 13px 13px 0 0;
}

.single-cart-details {
  margin: 15px;
}
.cart-button {
  display: flex;
  align-items: center;
}
.cart-button > i {
  margin-right: 10px;
}
